*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background: url(images/s2.png);
    background-position: center;
    background-size: cover;
    position:cover;

}
.container
{
    position:relative;
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
    background: linear-gradient(135deg,rgba(8, 86, 119, 0.842)0%,rgba(48, 51, 88, 0.295)35%,rgba(34, 199, 158)50%,rgba(226, 226, 231, 0.911)75%,rgba(88, 34, 175, 0.87)100%);
    position: fixed;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: 400% 400%;
    transition: 4s;

}

.container:hover{
    background-position: 100% 100%;
    

}


.navbar{
    width: 10%;
    display: flex;
    align-items: center;
}

.logo{
    width: 80px;
    cursor: pointer;
    margin: -50px 0;
    align-items:left ;
    left: 16px;
    position: absolute;

}


nav{
    flex:1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 22px;
    position: relative;
    left: 90px;
}
nav ul li a:hover{
     color: rgba(0, 255, 157, 0.877);
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px;
    left: 10px;
    bottom: 5px;
    position: absolute;

}

.col-1{
    flex-basis: 100%;
    position: relative;
    margin-left: 30px;
    top: 50px;
}

.col-1 h2{
    font-size:58px;
    color:rgb(28, 255, 198);
}

.col-1 h3{
    font-size:34px;
    color:rgb(255, 255, 255);
    font-weight: 100;
}

button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right,#fb5283,#ff3527);
    border-radius: 6px;
    cursor: pointer;
    transition:width 0.5s;
}

button img{
    width: 30px;
    display: none;
}

button:hover img{
    display: block;
}
button:hover{
    position: relative;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-1::after{
    content: '';
    width: 10px;
    height: 67%;
    background: linear-gradient(to right,#ff4694,#ff6062);
    position: absolute;
    left: -40px;
    top: 40px;
}

.col-2{
    position: relative;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    top: 60px;
}

.col-2 .astro{
   width: 88%;
   align-items: right;

}

.color-box{
    position: absolute;
    left: 60px;
    top: 12px;
    background: linear-gradient(to right,#ff4694,#ff6062);
    border-radius: 30px 0 0 30px;
    height: 90%;
    align-items: right;
    width: 80%;
    padding-right: 400px;
    z-index: -1;
    transform: translateX(200px);

}

.social-links img{
    align-items: auto;
    top: 20px;
    height: 35px;
    margin: 20px;
    cursor: pointer;
    color: aqua;
}

.social-links{
    text-align: relative;


}
.svg{
  position: fixed;
  width: 65%;
  bottom: 210px;
  left: -90px;
}

.svg path:nth-child(1)
{
  stroke-dasharray: 890px;
  stroke-dashoffset: 310px;
  
}
.svg path:nth-child(2)
{
  stroke-dasharray: 872px;
  stroke-dashoffset: 852px;
  animation: line-anim 6s ease forwards 0.1s;
}
.svg path:nth-child(3)
{
  stroke-dasharray: 972px;
  stroke-dashoffset: 852px;
  animation: line-anim 9s ease forwards 0.1s;
}
.svg path:nth-child(4)
{
  stroke-dasharray: 872px;
  stroke-dashoffset: 852px;
  animation: line-anim 8s ease forwards 0.1s;
}
.svg path:nth-child(5)
{
  stroke-dasharray: 472px;
  stroke-dashoffset: 852px;
  animation: line-anim 10s ease forwards 0.1s;
}
.svg path:nth-child(6)
{
  stroke-dasharray: 572px;
  stroke-dashoffset: 22px;
  animation: line-anim 4s ease forwards 0.1s;
}
.svg path:nth-child(7)
{
  stroke-dasharray: 502px;
  stroke-dashoffset: 852px;
  animation: line-anim 5s ease forwards 0.1s;
}

@keyframes line-anim{
  to{
    stroke-dashoffset: 0;

  }
}

.night{
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateZ(-560deg);
  left: 600px;
  bottom: 0px;
}

.star{
  position: absolute;
  left: 50%;
  top: 50%;
  height: 4px;
  background: linear-gradient(-45deg, #ffffff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699BFF);
  animation: tail 13s ease-in-out infinite,
             falling 30s ease-in-out infinite;
}

@keyframes tail{
  0%{
    width: 0;
  }
  30%{
    width: 100px;
  }
  100%{
    width: 0;
  }
}

@keyframes falling{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(300px);
  }
}

.star::before, .star::after{
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  right: 0;
  height: 4px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #1ef3e8, rgba(42, 217, 240, 0.938));
  border-radius: 100%;
  transform: translateX(50%) rotateZ(45deg);
  animation: shining 3s ease-in-out infinite;
}

@keyframes shining{
  0%{
    width: 0;
  }
  50%{
    width: 30px;
  }
  100%{
    width: 0;
  }
}

.star::after{
  transform: translateX(50%) rotateZ(-45deg);
}

.star:nth-child(1){
  top: calc(50% - 100px);
  left: calc(50% - 250px);
  animation-delay: 1s;
}

.star:nth-child(1)::before, .star:nth-child(1)::after{
  animation-delay: 1s;
}

.star:nth-child(2){
  top: calc(50% - 50px);
  left: calc(50% - 200px);
  animation-delay: 1.2s;
}

.star:nth-child(2)::before, .star:nth-child(2)::after{
  animation-delay: 1.2s;
}

.star:nth-child(3){
  top: calc(50% - 0px);
  left: calc(50% - 150px);
  animation-delay: 1.4s;
}

.star:nth-child(3)::before, .star:nth-child(3)::after{
  animation-delay: 1.4s;
}

.star:nth-child(4){
  top: calc(50% - -50px);
  left: calc(50% - 200px);
  animation-delay: 1.6s;
}

.star:nth-child(4)::before, .star:nth-child(4)::after{
  animation-delay: 1.6s;
}

.star:nth-child(5){
  top: calc(50% - -100px);
  left: calc(50% - 250px);
  animation-delay: 1.8s;
}

.star:nth-child(5)::before, .star:nth-child(5)::after{
  animation-delay: 1.8s;
}

